@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
    font-family: 'Indie Flower', cursive;
    font-family: 'Bungee Shade', cursive;
    font-family: 'Amatic SC', cursive;
    font-family: 'Cinzel Decorative', cursive;
}
